


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-main);
  font-weight: 700;
  max-width: 15rem;
  width: 100%;
}

.accent, label, .menu {
  overflow: hidden;
  font-family: var(--font-accent);
  color: var(--arabica-brown);
}

.Main {
  width: 100vw;
  height: 100vh;
  background: var(--mocha-beige);
}

navbar {
  background: var(--espresso-black);
  color: var(--parchment);
}

/* Header */
header {
  display: flex;
  padding: 0.4rem 1rem;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-main);
  background: var(--espresso-black);
  color: var(--parchment);
  position: fixed;
  top: 0;
  left: 0;
}

header svg {
  font-size: 1.5rem;
  cursor: pointer;
}

/* Sidebar */
.sideNav {
  transition: width 0.3s ease, padding 0.3s ease;
  height: 100%;
  background: var(--white);
  color: var(--parchment);
  border-color: rgba(120, 119, 119, 0.448);
  border-width: 0 0.06rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sideNav.expanded {
  width: 17rem;
}

.sideNav.collapsed {
  width: 4.5rem;
}

.sideNav.active {
  left: 0;
}

/* User Info */
.userInfo {
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-family: var(--font-main);
  background: var(--fadin-mocha);
  color: var(--arabica-brown);
  font-weight: bold;
  height: 5rem;
  transition: all 0.3s ease;
  margin-bottom: 0; 
  gap: 0.5rem;
}
.userAvatar {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.userAvatarImg {
  border-radius: 3rem;
  background-color: #0D0D0D;
  height: 3rem;
  width: 3rem;
  transition: all 0.3s ease;
}
.userAvatarImg.collapsed {
  height: 2rem;
  width: 2rem;
}
.userInfo.collapsed {
  justify-content: center;
  width: 100%;
  /* display: none; */
}
.userName {
  font-size: 1rem;
  font-weight: 700;
  color: var(--espresso-black);
  transition: all 0.3s ease;
}
.userRole {
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--coffee-gray);
}
.userDetails {
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

.sideNav.collapsed .userDetails {
  opacity: 0;
  width: 0;
  overflow: hidden;
}

/* Navigation Section */
.Nav {
  position: relative;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  color: var(--parchment);
  font-family: var(--font-main);
  font-weight: 400;
  flex-grow: 1;
}

.navigationBtn {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  margin: 0.25rem 0;
  transition: background 0.3s ease;
}

.navigationBtn a {
  display: flex;
  align-items: center;
  width: 100%;

  padding: 0.75rem;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

/* Icon and Label Transition */
.icon {
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  margin: 0;
  padding: 0;
}

.lblNav {
  color: var(--gray);
  white-space: nowrap;
  margin-left: 0.5rem;
  transition: opacity 0.3s ease;
}


/* Collapse Adjustments */
.sideNav.collapsed .navigationBtn a {
  justify-content: center;
  gap: 0;
  padding: 0.75rem;
}

.sideNav.collapsed .navigationBtn {
  justify-content: center;
}

.navigationBtn:hover {
  background: var(--fadin-mocha);
  transition: ease;
}

.navigationBtn:hover * {
  color: var(--mocha);
    transition: ease;
}

/* Mid & Bottom Sections */
.midSection {
  z-index: 1;
  padding: 0;       
  margin: 0;           
  display: flex;
  flex-direction: column;
}

.bottomSection {
  z-index: 1;
  padding: 0.5rem 0.75rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* List Styling */
ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: var(--ash-gray);
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: background 0.3s ease;
}

ul li a:hover,
ul li a.active {
  color: var(--parchment);
}

/* Buttons */
.button, button {
  background: var(--arabica-brown);
  color: var(--parchment);
  font-family: var(--font-main);
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  cursor: pointer;
}

/* Other Elements */
.progress-bar {
  color: var(--parchment);
}

/* Logo */
.logoSection {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 100%;
  width: 70%;
}
.logo img {
  height: 100%;
  width: 100%;
}
.minimize {
  color: var(--coffee-gray);
}
.logo.collapsed{
  width: 50%;
}
/* .minimize.collapsed {
 
} */

.lblNav.collapsed {
  position: absolute;
  padding: 0.7rem;
  background: var(--fadin-mocha);
  left: 5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  display: none;
}
.headerNav {
  background-color: var(--white);
}

.navigationBtn.active *{
  color: var(--white);
    background-color: var(--espresso-black);
}