/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


/* Color Palette Variables */
:root {
  --espresso-black: #1C1C1C;
  --arabica-brown: #4A2C2A;
  --parchment: #e9e9df;
    --mocha: #a1773f;
  --mocha-beige: #D2B48C;
  --fadin-mocha: #d2b48c41;
  --barako-dark: #0D0D0D;
  --coffee-gray: #6B4E3D;
  --white: #FFFFFF;
  --gray: #646464c4;
  --ash-gray: #9E9E9E;
  --fadin-gray: #9e9e9e39;
  --font-main: 'Poppins', Arial, sans-serif;
  --font-secondary: 'Inter', Arial, sans-serif;
  --font-accent: 'Quicksand', Arial, sans-serif;
}
