@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  width: 100%;
  
  color: var(--espresso-black);
  font-family: var(--font-secondary);
}